.description {
	display: -webkit-box;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.info {
	display: none;
}

@media (width > 768px) {
	.info {
		display: inline-block;
	}

	.cnt {
		row-gap: 0.75rem;
	}
}

@media (width <= 768px) {
	.heading {
		font-size: 1.25rem;
		line-height: 1.2;
	}

	.text {
		font-size: 0.75rem;
	}
}
